.error {
    color: red;
}

.container-login {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 30%;
    margin: auto;
}

.form {
    display: flex;
    flex-direction: column;
}

#posts {
    display: flex;
    flex-direction: column;

}

.post {
    border-bottom: solid lightgray;
    margin-bottom: 1.5rem;
}

input {
    margin-bottom: 1.2rem;
}